.navbar {
    background-color: #B6D4BC;
}
ul {
    background-color: #B6D4BC;
    height: 48px;
    margin: 0;
    
}
li:hover {
    background-color: #38583B;

}
.navbarE {
    background-color: #B6D4BC;
}
