/* Whole navbar */
.navbar {
    background-color: #B6D4BC;
    list-style-type: none;
	margin: auto;
	text-align: center;
	padding: 0;
	overflow: hidden;
}

ul {
    /* background-color: #B6D4BC; */
    height: 48px;
    margin: 0;
    width: 100%;
    
}
.navbarE a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Navbar element */
.navbarE {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* name hover */
.navbarE a:hover {
    color: #38583B;
}

#button {
    /* background-color: #38583b38; */
    border-radius: 6px;

    color: white;
    /* background-color: rgb(79, 105, 91); */
}


/* #logout {
    background-color: #38583b61;
    border: #44b25a;
    color: #B6D4BC;
} */
