.annonsecontaineroutercontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.annonsecontainer {
	margin: 5px;
	display: grid;
	grid-template-columns: auto auto auto;
	place-items: center;
	gap: 10px;
}
