.annonsemaincontainer {
	color: #434738;
	background-color: #f7f7f7;
	width: 320px;
	border-radius: 6px;
	min-width: 250px;
	min-height: 450px;
	max-height: 450px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.Annonsecontainer {
	padding: 10px;
	width: 300px;
}
.annonsephoto-container {
	border-radius: 15px;
	width: 300px;
	height: 160px;
	overflow: hidden;
	min-height: 225px;
}
.annonsemainimage {
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
}
.annonsetelephone {
	border-radius: 50%;
}
.annonsephoneicon {
	width: 100%;
	height: 95%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.annonsetext-container {
	margin-top: -5px;
	font-family: sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 150px;
	min-height: 150px;
}
.annonsetitle {
	margin-top: -15px;
}
.annonseperson {
	margin-top: -30px;
	margin-bottom: 3px;
}
.annonsedescription {
	margin-top: -30px;
	max-height: 55px;
	overflow-y: hidden;
	min-height: 55px;
}
.annonsecontact {
	display: flex;
	justify-content: space-between;
}
.annonsetelephone {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}
.annonsephoneicon {
	margin-top: -3px;
	height: 100%;
}
.annonseinfo {
	min-height: 100px;
	text-align: center;
	justify-content: center;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.messagebutton,
.seemorebutton {
	color: black;
	background-color: #b5d43b;
	border-radius: 6px;
	border: none;
	font-size: 15px;
	font-weight: bold;
	height: 35px;
	text-align: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	transition: 0.5s;
}
.telephone {
	background-color: #b5d43b;
	border-radius: 15px;
	border: none;
	width: 35px;
	margin-right: 7px;
	height: 35px;
	text-align: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	transition: 0.5s;
}
.messagebutton:hover,
.seemorebutton:hover,
.telephone:hover {
	background-color: #d9ef82;
	cursor: pointer;
}

.messagebutton,
.seemorebutton {
	height: 35px;
}

.annonselink {
	text-decoration: none;
	color: black;
}
.annonsetag {
	position: absolute;
	font-family: sans-serif;
	font-weight: 600;
	margin-top: 4px;
}

.annonsered {
	font-size: 25px;
	margin-left: 175px;
	color: rgb(207, 33, 33);
}
.annonsegreen {
	font-size: 28px;
	margin-left: 230px;
	color: #b5d43b;
}
