.input {
    width: 80%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-width: 1px;
    border-radius: 8px;
    margin-top: 24px;

}
.input:placeholder-shown {
    font-size: medium;
}
