.root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}
.maincontainer {
	border-radius: 10px;
}

.registrationinnercontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 25px;
}

h3 {
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

input {
	width: 400px;
	border: none;
}
.forminput {
	width: 400px;
}
.centereditems {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logginbutton {
	background-color: transparent;
	text-decoration: underline;
	border: none;
}
.logginbutton:hover {
	cursor: pointer;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
