.annonseside {
	background-color: white;
	width: 100vw;
	height: 100%;
	display: grid;
	grid: 70% 30%;
}

.innerannonseside {
	width: 70vw;
	height: 100%;
	margin: auto;
	grid: auto auto;
}

.annonsesideinfo {
	color: #434738;
}
.bilde {
	min-height: 70vh;
	max-height: 70vh;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.favouriteButton {
	font-size: large;
	height: 50px;
	width: 200px;
	border-radius: 6px;
	font-weight: bolder;
	background-color: transparent;
	color: #b5d43b;
	border: 3px solid #b5d43b;
	transition: 0.5s;
}
.favouriteButton:hover {
	cursor: pointer;
	background-color: #d9ef82;
}

.favourite {
	margin-bottom: 20px;
	width: 100%;
}
.annonsesideprofilinfo {
	width: 30vw;
	min-height: 50vw;
	float: right;
}

.morradi {
	max-width: 100%;
	max-height: 100%;
}

.bitch {
	grid: auto;
}

.annonseTittel,
.annonseLocation {
	font: bold;
}

.divider {
	font-family: sans-serif;
	margin-top: 10px;
	gap: 10px;
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
}
.annonsesideprofilepicture {
	overflow: hidden;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #d9ef82;
}
.annonsesideavatar {
	width: 100%;
}

.annonsesideprofileinfo2 {
	font-size: xx-large;
	font-weight: bold;
	display: grid;
	color: #434738;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
}
.annonsesidename {
	margin: auto;
	font-size: 20px;
}

.annonsesideprofilecontact {
	margin-top: 10px;
	display: grid;
	height: 50px;
	grid-template-columns: auto auto;
	gap: 20px;
}

.annonsesidetlf,
.annonsesidemail,
.goBack {
	background-color: #b5d43b;
	border-radius: 6px;
	border: none;
	height: 35px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	transition: 0.5s;
}

.annonsesidetlf:hover,
.annonsesidemail:hover,
.goBack:hover {
	cursor: pointer;
	background-color: #d9ef82;
}
.annonsesidetlf,
.annonsesidemail {
	height: 40px;
	font-size: large;
}

.goBack {
	margin-right: -40px;
	position: absolute;
	width: 100px;
	height: 50px;
	transform: rotate(180deg);
}

.link {
	color: #434738;
	text-decoration: none;
	font-size: 25px;
}

.tag {
	position: absolute;
	font-family: sans-serif;
	font-weight: 600;
	margin-top: 4px;
}

.red {
	font-size: 50px;
	margin-left: 700px;
	color: rgb(207, 33, 33);
}
.green {
	font-size: 55px;
	margin-left: 800px;
	color: #b5d43b;
}
