body {
    --background-color: black;
    --color: aliceblue;
}

[data-theme="darkMode"] {
    background-color: brown;
}

:root {
    main-color: black; 
}

.darkMode {
    background-color: rgb(0, 0, 0);
}

