body {
    --background-color: black;
    --color: aliceblue;
}

[data-theme="darkMode"] {
    background-color: brown;
}

:root {
    main-color: black; 
}

.darkMode {
    background-color: aqua;
}
div {
    background-color: aquamarine;
}
