.navbar {
	font-family: sans-serif;
	list-style-type: none;
	text-align: center;
	gap: 10px;
	overflow: hidden;
	font-size: 20px;
	background-color: #f7f7f7;
	width: 100vw;
	margin-top: -11px;
	margin-left: -10px;
}

.navbarE {
	float: left;
}

.navbarE a {
	color: #434738;
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbarE a:hover {
	background-color: #d7d5d5;
}
